src/main/mule/testing.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="testingFlow" doc:id="91167b91-735f-4443-b504-4a46251b4d0b" >
		<logger level="INFO" doc:name="Logger" doc:id="b67ad64b-29d4-4e88-a789-a9d23d080075" />
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="299a9477-d1cc-49b7-adc3-4d68effac92f" />
		<logger level="INFO" doc:name="Logger" doc:id="a2b5a8d6-82e4-4b25-bb61-9f61466c72a6" />
<<<<<<< HEAD
		<ee:transform doc:name="Transform Message" doc:id="bd05ec81-1633-4ffb-be8f-e4a3648b603c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
=======
		<logger level="INFO" doc:name="Logger" doc:id="a4ec29b6-f91e-4c9f-acab-2cbd675578e4" />
		<ee:transform doc:name="Transform Message" doc:id="84f46029-3e24-47d6-9652-c8a21c4039aa" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="8a691e16-9e79-46ef-9885-3f3d23e268dc" >
			<when expression='#[payload == "1"]'>
				<logger level="INFO" doc:name="Logger" doc:id="44a01538-c0c3-4afb-8a84-7ed91f41d8b2" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="c88ea855-b301-4004-b5c7-574304da6973" />
			</otherwise>
		</choice>
		<ee:transform doc:name="Transform Message" doc:id="66a292ec-7108-44a1-9749-150b6f5f4bdf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a7b10ecb-2f0e-40f9-b0fa-0f1c985a3ebd" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="6fd3b99a-3b51-4c03-a46d-f6b47fa8abd2" >
				<logger level="INFO" doc:name="Logger" doc:id="6e99194e-868f-47c2-b09d-96a0086f5a13" />
				<logger level="INFO" doc:name="Logger" doc:id="f9ec9506-96c2-463e-be09-0ee90b95c8e4" />
				<logger level="INFO" doc:name="Logger" doc:id="7b47daa8-5abe-4b3f-9768-f4b9637e38b3" />
				<set-payload value="#[payload]" doc:name="Set Payload" doc:id="fba10447-fadc-416e-81bb-168324be1fb6" />
			</on-error-continue>
		</error-handler>
>>>>>>> feature/rpaniz/fix003
	</flow>
</mule>
