src/main/mule/testing.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="testingFlow" doc:id="91167b91-735f-4443-b504-4a46251b4d0b" >
		<logger level="INFO" doc:name="Logger" doc:id="b67ad64b-29d4-4e88-a789-a9d23d080075" />
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="299a9477-d1cc-49b7-adc3-4d68effac92f" />
		<logger level="INFO" doc:name="Logger" doc:id="a2b5a8d6-82e4-4b25-bb61-9f61466c72a6" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="6fd3b99a-3b51-4c03-a46d-f6b47fa8abd2" >
				<logger level="INFO" doc:name="Logger" doc:id="6e99194e-868f-47c2-b09d-96a0086f5a13" />
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
